[submodule "src/dependencies/osi_clp"]
	path = src/dependencies/osi_clp
	url = https://github.com/alicevision/osi_clp.git
[submodule "src/dependencies/MeshSDFilter"]
	path = src/dependencies/MeshSDFilter
	url = https://github.com/alicevision/MeshSDFilter.git
[submodule "src/dependencies/nanoflann"]
	path = src/dependencies/nanoflann
	url = https://github.com/alicevision/nanoflann.git
[submodule "src/dependencies/instant-meshes"]
	path = src/dependencies/instant-meshes
	url = https://github.com/wjakob/instant-meshes.git
